/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
body {
    background: var(--bs-black);
  }
  
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 90px;
    z-index: 996;
    background: var(--bs-purple);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: var(--bs-white);
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: var(--bs-purple-dark);
    color: var(--bs-white);
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--bs-black);
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--bs-primary);
    border-top-color: var(--bs-white);
    border-bottom-color: var(--bs-white);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  
  @media (max-width: 991px) {
    #header {
      width: 300px;
      background: var(--bs-black);
      border-right: 2px solid var(--bs-primary);
      left: -300px;
    }
  }
  
  @media (min-width: 991px) {
    #main {
      margin-left: 100px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--bs-black);
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: var(--bs-white);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span,
  .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: var(--bs-black);
  }
  
  @media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
      width: 56px;
    }
  
    .nav-menu a span,
    .nav-menu a:focus span {
      display: none;
      color: var(--bs-white);
    }
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover > a {
    color: var(--bs-white);
    background: var(--bs-primary);
  }
  
  .nav-menu a:hover span,
  .nav-menu .active span,
  .nav-menu .active:focus span,
  .nav-menu li:hover > a span {
    color: var(--bs-white);
  }
  
  .nav-menu a:hover,
  .nav-menu li:hover > a {
    width: 100%;
    color: var(--bs-white);
  }
  
  .nav-menu a:hover span,
  .nav-menu li:hover > a span {
    display: block;
  }
  
  /**
    * Mobile Navigation 
    */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
  
  .mobile-nav-toggle i {
    color: var(--bs-gray-dark);
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle {
    color: var(--bs-white);
    background-color: var(--bs-primary);
  }
  
  /*--------------------------------------------------------------
  # Footer Section
  --------------------------------------------------------------*/
  .svg-devider {
    width: 100%;
  }
  
  .footer-social .social-item i {
    font-size: 24px;
  }
